<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chunyu.demotest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MediaPlayerActivity"></activity>
        <activity android:name=".VideoViewActivity"></activity>
        <activity android:name=".ServiceActivity"></activity>
        <activity android:name=".AnimationActivity"></activity>
        <activity android:name=".CustomeViewActivity"></activity>
        <activity android:name=".StickRelativeActivity"></activity>
        <activity android:name=".FragmentAnimActivity"></activity>
        <activity android:name=".NdkActivity"></activity>
        <activity android:name=".AccessibilityActivity"></activity>
        <activity android:name=".PictureActivity"></activity>
        <activity android:name=".NestedRecycyleViewActivity"></activity>
        <activity android:name=".ListViewNestRecyclerViewActivity"></activity>

        <activity
            android:name=".SkinActivity"
            android:theme="@style/AppTheme.Black"></activity>

        <service android:name=".services.LocalService"></service>
    </application>

</manifest>